* {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(231, 231, 229);
    background-color: rgb(16, 15, 23);
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    display: flex;
    margin: 20px 0;
}

#llogo img {
    width: 100px;
    height: 50px;
    padding-left: 20px;
    margin-left: auto;
}

.nav-links {
    padding-right: 50px;
    display: flex;
    margin-left: auto;
}

.nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.nav-links ul li{
    display: inline;
    /* margin-left: auto; */
    font-size: 20px;
    margin: 10px;
}

.nav-links ul li a {
    text-decoration: none;
    color: rgb(231, 231, 229);
    justify-content: space-around;
    font-size: 18px;
}

#header .nav-links a:hover {
    border-bottom: 2px solid purple;  
    padding-bottom: 4px;
}

#header .nav-links a.is-active {
    border-bottom: 2px solid rgb(231, 231, 229);
    padding-bottom: 4px;
}

.snow {
    position: fixed;
}

#main {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit] {
    width: 100%;
    background-color: rgb(28, 190, 166);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    background-color: rgb(30, 200, 150);
}