* {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(231, 231, 229);
    background-color: rgb(16, 15, 23);
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    display: flex;
    justify-content: space-between;
}

#header #llogo {
    margin: 20px;
}

#header #llogo img {
    width: 150px;
    height: 70px;
}

#header .nav-links{
    margin: 20px;
}

.nav-links ul {
    display: flex;
    /* align-items: center; */
}

.nav-links ul li{
    padding: 20px;
    list-style: none;
    font-size: 25px
}

.nav-links ul li a {
    text-decoration: none;
    color: rgb(231, 231, 229);
    padding-left: 5px;
    padding-right: 5px;
}

#header .nav-links ul li a:hover {
    border-bottom: 2px solid purple;  
    padding-bottom: 5px;
}

#header .nav-links ul li a.is-active {
    border-bottom: 2px solid rgb(231, 231, 229);
    padding-bottom: 5px;
}

.snow {
    position: fixed;
}

#main {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px;
    margin-top: 100px;
    font-size: large;
}

#main #form {
    width: 300px;
}

#main #form form {
    font-size: 20px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit] {
    width: 100%;
    background-color: rgb(28, 190, 166);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    background-color: rgb(30, 200, 150);
}

.social-links {
    color: blueviolet;
    margin-left: 250px;
    font-size: 50px;
}

.social-links h2 {
    font-size: medium;
    color: rgb(231, 231, 229);
    margin-bottom: 20px;
}

.social-links li {
    margin-bottom: 40px;
    list-style: none;
}