* {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(231, 231, 229);
    background-color: rgb(16, 15, 23);
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    display: flex;
    justify-content: space-between;
}

#header #llogo {
    margin: 20px;
}

#header #llogo img {
    width: 150px;
    height: 70px;
}

#header .nav-links{
    margin: 20px;
    margin-top: 10px;
}

.nav-links ul {
    display: flex;
}

.nav-links ul li{
    padding: 20px;
    list-style: none;
    font-size: 25px
}

.nav-links ul li a {
    text-decoration: none;
    color: rgb(231, 231, 229);
    padding-left: 5px;
    padding-right: 5px;
}

#header .nav-links ul li a:hover {
    border-bottom: 2px solid purple;  
    padding-bottom: 5px;
}

#header .nav-links ul li a.is-active {
    border-bottom: 2px solid rgb(231, 231, 229);
    padding-bottom: 5px;
}

.snow {
    position: fixed;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 430px;
}

#main-info h2 {
    background-color: rgb(28, 190, 166);
    width: 50%;
    padding: 10px 22px;
    border-radius: 20px 20px 20px 0px;
    margin-bottom: 5px;
}

#main-info h3 {
    background-color: rgb(28, 190, 166);
    width: 50%;
    padding: 10px 22px;
    border-radius: 20px 20px 20px 0px;
    margin-bottom: 5px;
}

#main-info h4 {
    background-color: rgb(28, 190, 166);
    width: 50%;
    padding: 10px 22px;
    border-radius: 20px 20px 20px 0px;
    margin-bottom: 5px;
}

#git-hub {
    text-align: center;
}

#git-hub i {
    margin-bottom: 30px;
    font-size: 70px;
}

#git-hub a{
    text-decoration: none;
    font-size: 20px;
}

#footer {
    width: 70%;
    margin: auto;
    border-top: 2px solid rgb(231, 231, 229);
    margin-bottom: 30px;
}

#footer .content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

#footer-logo img{
    width: 220px;
    height: 270px;
}

#footer .info h2 {
    margin-bottom: 30px;
}

.links li {
    list-style: none;
    margin: 20px;
    font-size: 18px;
}
.links li:first-child {
    margin-top: 0px;
}

.links li a {
    text-decoration: none;
    color: rgb(231, 231, 229);
}
.links li a:hover{
    color: rgb(28, 190, 166);
}

#footer #social-links {
    display: flex;
    flex-direction: column;
}
#social-links a{
    font-size: 30px;
    margin: 20px;
    color: rgb(85, 26, 139);
}
#social-links a:first-child {
    margin-top: 0;
}
#social-links a:hover {
    color: rgb(28, 190, 166);
}

#footer .terms p{
    margin: 20px;
}
#footer .terms p a{
    text-decoration: none;
    color: rgb(231, 231, 229);
}
#footer .terms p a:hover{
    color: rgb(28, 190, 166);
}
#footer .terms p:first-child{
    margin-top: 0px;
}

#footer .copyright p {
    margin-top: 20px;
}

@media screen and (max-width: 700px) {

    #header {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    #header .nav-links ul {
        display: block;
    }
    #header .nav-links ul li {
        text-align: center;
    }

    main {
        flex-direction: column;
        margin-top: 80px;
    }

    #main-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }

    #git-hub {
        margin-bottom: 70px;
    }

}

