* {
    margin: 0;
    padding: 0;
}

body {
    color: rgb(231, 231, 229);
    background-color: rgb(16, 15, 23);
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    display: flex;
    margin: 20px 0;
}

#llogo img {
    width: 100px;
    height: 50px;
    padding-left: 20px;
    margin-left: auto;
}

.nav-links {
    padding-right: 50px;
    display: flex;
    margin-left: auto;
}

.nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.nav-links ul li{
    display: inline;
    /* margin-left: auto; */
    font-size: 20px;
    margin: 10px;
}

.nav-links ul li a {
    text-decoration: none;
    color: rgb(231, 231, 229);
    justify-content: space-around;
    font-size: 18px;
}

#header .nav-links a:hover {
    border-bottom: 2px solid purple;  
    padding-bottom: 4px;
}

#header .nav-links a.is-active {
    border-bottom: 2px solid rgb(231, 231, 229);
    padding-bottom: 4px;
}

.snow {
    position: fixed;
}

#main {
    /* overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px; */
    display: flex;
    margin-top: 150px;
    padding-left: 150px;
}

#main .personal-info {
    float: left;
    justify-content: center;
}

.greeting-text{
    max-width: 150px;
    max-height: 40px;
    display: flex;
}

.greeting-text p{
    background-color: rgb(28, 190, 166);
    justify-content: center;
    padding: 10px 22px;
    border-radius: 20px 20px 20px 0px;
}

.name {
    padding-top: 10px;
}

.profession {
    padding-top: 8px;
}

#contact {
    padding-top: 20px;
}

#contact p {
    padding-bottom: 7px;
}

#contact i {
    padding-right: 10px;
}


.profile-pic {
    margin-left: 400px;
    display: flex;
    float: right;
}

.profile-pic img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    border: 15px solid black;
}

#footer {
    position:absolute;
    text-align: center;
    bottom:0;
    width:100%;
    font-size: 12px;
 }

/* @media screen and (max-width: 630px){

    .line {
        width: 30px;
        height: 3px;
        background: rgb(231, 231, 229);
        margin: 5px;
    }

    .hamburger {
        cursor: pointer;
    }

    .nav-links ul {
        position: fixed;
        flex-direction: column;
        margin: 0 0 0 30%;
        background: rgb(16, 15, 23);
        width: 100%;
        height: 100vh;
    }

    #main {
        float: none;
        flex-direction: column;
    }

} */